<!doctype html>
<html>
<head>
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet"/>


    {% block title %}
    {% if title %}
        <title>About {{ title }}</title>
    {% else %}
        <title> About </title>
    {% endif %}
    {% endblock %}
</head>
<body>
    {% block content %}
        {% block mainmenu %}
    <ul class="mainmenu">
        {% for p in menu%}
        <li><a href="{{ p.url }}">{{ p.title }}</a> </li>
        {% endfor%}
    </ul>
        {% endblock %}
<div class="clear"></div>
    <div class="content">
{% if title %}
    <h3> {{ title }} </h3>
{% else %}
    <h1> About Flask </h1>
{% endif %}
    {% endblock %} 


    </div>
</body>
</html>